@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:ital,wght@0,700;1,700&display=swap');

:root {
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #ecf0f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

.text-primary {
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #15a076;
}
header {
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Header'ın diğer içeriğin önünde olmasını sağlar */
}

header .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  /*  max-width: 1100px;*/
    margin: auto;
    padding: 1.5rem 2rem;
    width: 100%;
}

header .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
   
}

#logo {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}

header .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a {
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}


body {
   
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 100px;
}
.container {
    
    max-width: 400px;
    margin: 5rem auto 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"] {
   
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100%;
    background-color:var(--primary-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: var(--primary-color);
} 

@media (max-width: 1000px) {
    #anasayfa .navbar nav {
        display: block;
        text-align: center;


    }

    #anasayfa .navbar nav ul {
        margin-top: 20px;
    }

    #anasayfa .navbar nav ul a {
        margin: 0 8px;
    }
}